<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile</title>
</head>
<body>
	<h1>Admin profile</h1>

	
	<a href="/adminpanel">Admin Panel</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/logout">logout</a>
	<table border="0">
		<tr>
			<td>FULL NAME:</td>&nbsp;
			<td><%= name %></td>
		</tr>
		<tr>
			<td>USERNAME:</td>&nbsp;
			<td><%= username %></td>
		</tr>
		<tr>
			<td>Mobile No:</td>&nbsp;
			<td><%= mobile %></td>
		</tr>
		<tr>
			<td>Gender:</td>&nbsp;
			<td><%= gender %></td>
		</tr>

	</table>


</body>
</html>