<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
</head>
<body>
	<h1>Welcome to Admin panel</h1>
	<a href="/adminpanel/addbook">Add Book</a> 
	<a href="/adminpanel/deletebook">Delete Book</a> 
	<a href="/adminpanel/bookdetails">Book Details</a> 
	<a href="/adminpanel/editbook">Edit Book</a> 
	<a href="/logout">logout</a>

</body>
</html>