<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>

<h1>Register for the Book store</h1>
	<!-- <a href="/home">Back</a> | 
	<a href="/logout">logout</a> -->
	
	<form method="post">
	<table>
		<tr>
		<td>FULLNAME</td>
		<td><input type="text" name="fullname"></td>	
		</tr>

		<tr>
			<td>USERNAME</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Mobile No</td>
			<td><input type="text" name="moble"></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>
			<select>
			<option value="male">Male</option>
  			<option value="female">Female</option>
			</select>
			</td>
		</tr>

		<tr>
			<td>USER TYPE</td>
			<td>
			<select>
			<option value="user">user</option>
  			<option value="admin">admin</option>
			</select>
		</td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Register"></td>
			<td><a href="/login">Go to sign in</a></td>
		</tr>
		<tr>
		<td>
		
	</table>
</form>





</body>
</html>